.decks {

  .decks {
    .image {
      img {
        max-width: 40px;
      }
    }
  }

  .card-selection {
    .panel {
      .number {
        min-width: 130px;

        a {
          display: block;
          float: left;
          padding: 0 10px;
          color: #333;
          background-color: #eee;
          text-decoration: none;

          &:hover {
            background-color: #ddd;
          }

          &.active {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }
  }

  .name {
    .popover {
      img {
        width: 100%;
        margin-bottom: 10px;
      }

      .description {

      }
    }
  }
}
