@font-face {
  font-family: 'Netrunner';
  src: asset-url('netrunner.eot?-fuq2l8');
  src: asset-url('netrunner.eot?#iefix-fuq2l8') format('embedded-opentype'),
       asset-url('netrunner.woff?-fuq2l8') format('woff'),
       asset-url('netrunner.ttf?-fuq2l8') format('truetype'),
       asset-url('netrunner.svg?-fuq2l8#Netrunner') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaper-smooth,
.icon-shaper,
.icon-Honor-and-Profit,
.icon-Spin-Cycle,
.icon-Genesis-Cycle,
.icon-Creation-and-Control,
.icon-Core-Set,
.icon-credit,
.icon-recurring-credit,
.icon-click,
.icon-link,
.icon-trash,
.icon-mu,
.icon-1mu,
.icon-subroutine,
.icon-3mu,
.icon-2mu,
.icon-anarch,
.icon-criminal,
.icon-haas-bioroid,
.icon-weyland-consortium,
.icon-jinteki-simple,
.icon-jinteki,
.icon-nbn,
.icon-agenda,
.icon-rez {
  font-family: 'Netrunner';
}

.icon-shaper-smooth:before {
  content: "\e613";
}
.icon-shaper:before {
  content: "\e603";
}
.icon-Honor-and-Profit:before {
  content: "\e614";
}
.icon-Spin-Cycle:before {
  content: "\e615";
}
.icon-Genesis-Cycle:before {
  content: "\e616";
}
.icon-Creation-and-Control:before {
  content: "\e617";
}
.icon-Core-Set:before {
  content: "\e618";
}
.icon-credit:before {
  content: "\e600";
}
.icon-recurring-credit:before {
  content: "\e608";
}
.icon-click:before {
  content: "\e611";
}
.icon-link:before {
  content: "\e601";
}
.icon-trash:before {
  content: "\e606";
}
.icon-mu:before {
  content: "\e610";
}
.icon-1mu:before {
  content: "\e60a";
}
.icon-subroutine:before {
  content: "\e604";
}
.icon-3mu:before {
  content: "\e60e";
}
.icon-2mu:before {
  content: "\e60c";
}
.icon-anarch:before {
  content: "\e605";
}
.icon-criminal:before {
  content: "\e612";
}
.icon-haas-bioroid:before {
  content: "\e602";
}
.icon-weyland-consortium:before {
  content: "\e607";
}
.icon-jinteki-simple:before {
  content: "\e005";
}
.icon-jinteki:before {
  content: "\e609";
}
.icon-nbn:before {
  content: "\e60b";
}
.icon-agenda:before {
  content: "\e60d";
}
.icon-rez:before {
  content: "\e60f";
}

@font-face {
  font-family: 'NRDB';
  src: asset-url('NRDB.eot?-zjbk8');
  src: asset-url('NRDB.eot?#iefix-zjbk8') format('embedded-opentype'),
     asset-url('NRDB.woff?-zjbk8') format('woff'),
     asset-url('NRDB.ttf?-zjbk8') format('truetype'),
     asset-url('NRDB.svg?-zjbk8#NRDB') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-ice,
.icon-hardware,
.icon-action,
.icon-hardware,
.icon-asset,
.icon-asset,
.icon-upgrade,
.icon-resource,
.icon-program,
.icon-identity,
.icon-agenda {
  font-family: 'NRDB';
}

.icon-ice:before {
  content: "\e001";
}
.icon-hardware:before {
  content: "\e002";
}
.icon-action:before {
  content: "\e003";
}
.icon-hardware-alt:before {
  content: "\e006";
}
.icon-asset-alt:before {
  content: "\e007";
}
.icon-asset:before {
  content: "\e008";
}
.icon-upgrade:before {
  content: "\e004";
}
.icon-resource:before {
  content: "\e000";
}
.icon-program:before {
  content: "\e600";
}
.icon-identity:before {
  content: "\e601";
}
.icon-agenda:before {
  content: "\e602";
}
