<div class="row">
  <%= link_to "Create a new deck", new_deck_path, class: "btn btn-primary" %>
</div>

<div class="row">

  <% @decks.each do |deck| %>
    <div class="card col-xs-4 col-md-3">
      <%= link_to deck.name, deck_path(deck) %>
    </div>
  <% end %>
</div>
