<% @data_packs.each do |data_pack| %>
  <div class="pack row">
    <div class="col-xs-2">
      <%= image_tag data_pack.box_image %>
    </div>

    <div class="col-xs-10 ">
      <h2><%= link_to data_pack.name, data_pack_path(data_pack) %></h2>
    </div>
  </div>
<% end %>
