<% @data_packs.each do |data_pack| %>
  <div class="pack row">
    <div class="col-xs-2">
      <%= image_tag data_pack.box %>
    </div>

    <div class="col-xs-10 ">
      <h2><%= data_pack.name %></h2>
    </div>
  </div>
<% end %>
