<%= cache ['decks#show', @data_pack, 'v1'], :expires_in => 1.hour do %>
  <div class="pack row">
    <div class="col-xs-3">
      <%= image_tag @data_pack.box_image %>
    </div>

    <div class="col-xs-9 ">
      <h2><%= @data_pack.name %></h2>
    </div>
  </div>

  <div class="row">
    <% @data_pack.cards.each do |card| %>
      <div class="card col-xs-4 col-md-3">
        <%= link_to image_tag(card.card_image), card_path(card) %>
      </div>
    <% end %>
  </div>
<% end %>
