<div class="pack row">
  <div class="col-xs-3">
    <%= image_tag @data_pack.box %>
  </div>

  <div class="col-xs-9 ">
    <h2><%= @data_pack.name %></h2>
  </div>
</div>

<h3>Cards will go here</h3>
